body, html {
    height: 100%;
    margin: 0;
}


@font-face{
    
    
    font-family:'Quicksand-Regular';
    src:url('Quicksand-Regular.otf');
}

.input{
    
    width:80%;
    border-radius: 20px;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    display: block;
    font-size: 1rem;
    
    
}
input:focus{
    
    border-color:#8B4513;
    outline: #8B4513  5px;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid  #8B4513;
    width: 40%;
    height: 98%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #8B4513;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: black;
}

.Moda, .modal {
   display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.Modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid  #8B4513;
    width: 40%;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.clos {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.clos:hover,
.clos:focus {
    color: #8B4513;
    text-decoration: none;
    cursor: pointer;
}

.Modal-header {
    padding: 2px 16px;
    color: black;
}

.Modal-footer {
    padding: 2px 16px;
   
}

.Modal-body {padding: 2px 16px;}

form{
    
    font-family: 'AlexBrush-Regular';
    color:#8B4513;
    font-size: 1.5rem;
    font-weight: bold;
}
#submit, #sub{
    
    background-color:#8B4513;
    width:100px;
    border: 0;
    margin:0;
    padding: 10px;
    font-size: 1.4rem;
    color:white;
    font-family:'AlexBrush-Regular';
    cursor: pointer;
    
}
@font-face{
    

    font-family:'AlexBrush-Regular';
    src:url('AlexBrush-Regular.ttf');
   
}
body{
    
    font-family:'Quicksand-Regular'; 
}
#navbar{
background:url("images/pic10.jpg");
background-size: cover;
height: 70%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
      
}
ul li{
    
   list-style-type: none;
   display: inline;
    padding-left: 2.5em;
    float: right;
    margin-right: 2em;
    color: #8B4513;
    cursor: pointer;
    font-weight:bolder;
    
   
}
.icon{
    

    font-size: 30px;
    padding: 10px 10px;
    box-sizing: border-box;
    display: none;
    transition: 1s;
   
}
#see{
    
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 10px;
    transition: 1s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    
}
#message{
    
padding-top: 100px;
padding-bottom: 140px;
color: white;
width:50%;
font-size: 3.0em; 
line-height: 1.5;

}
#log{
    
    width:50%;
    margin-right: -40px;
}
a{
    
    text-decoration: none;
    color: #8B4513;
}
.tag{
    
    font-family: 'AlexBrush-Regular';
    color: #8B4513;
    font-size: 3.5em;
     padding-top: 20px;
}
#mid2{
    
    width: 90%;
    font-size: 1.5em;
    padding-top: 50px;
   
}

#London{
    
    
}
.hr{
    
    border: 1px solid #8B4513;
    width: 200px;
    
}
.hr2{
    
    border: 1px solid #8B4513;
    width: 200px;
    margin-top: -50px;
    
}
div.img {
    margin: 10px;
    margin-left: 50px;
    float: left;
    width: 300px;
    padding: 10px;
     box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    
    
}	


div.img img {
    width: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
     font-family: 'AlexBrush-Regular';
    color: #8B4513;
    font-weight: bolder;
}
div.desc1 {
    padding: 15px;
}
.tab p{
    float: left;
    padding-right: 4em;
}
.tab p:hover{
    
    cursor: pointer;
}
div.tab p:hover {
    color: #8B4513;
    font-weight: bolder;
}

div.tab p:focus, .active {
    color: #8B4513;
    font-weight: bolder;
    border-bottom-color: #8B4513;
}
.tab{
    
    margin-left: 400px;;
    margin-bottom:-1.5em;
    font-size: 1.5em;
    margin-top: 2em;
    width: 100%;
    
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.con{
    
    margin: 0;
    border:0;
    padding: 0.5em;
     background-color: #8B4513;
    color: white;
    width:180px;
    font-size: 30px;
    font-family: 'AlexBrush-Regular';
    margin-top: 100px;
    transition: 0.5s;
}
.con2{
    
    margin: 0;
    border:0;
    padding: 0.5em;
     background-color: #E8E8E8;
    color: #8B4513;
    width:180px;
    font-size: 30px;
    font-family: 'AlexBrush-Regular';
    margin-top: 30px;
    transition: 0.5s;
}
.con2:hover{
    background-color: #8B4513;
    color:white;
    cursor: pointer;
    
}



.con1{
    border:0;
    padding: 0.2em;
     background-color: #8B4513;
    color: white;
    width:120px;
    font-size: 30px;
    font-family: 'AlexBrush-Regular';
    transition: 0.5s;
}
.con span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.con span:after {
  content: '>>';
  opacity: 0;
  top: 0;
  margin-left:5px; 
  transition: 0.5s;
}

.con:hover span {
  padding-right: 25px;
}

.con:hover span:after {
  opacity: 1;
  right: 0;
}

#footer{
    
    
    padding-top: 10px;
    background-color:  #8B4513;
    color: white;
    padding-bottom: 10px;
    margin-top:5em;
    position: relative;
    
}
.container {
    display: inline-block;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: -10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:  #8B4513;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.bar1, .bar2, .bar3{
        
        display: none;
       
    }

.tablinks{
        
        font-size:1.2em;
    }
    
@media only screen and (max-width:768px) {
    

    ul li{
        
        display: none;
    }
    
    .bar1, .bar2, .bar3{
        
        display: block;
        
    }
    .container{
         position: absolute;
         right: 0;
         top: 0;
        margin-top: 8px;
       
    }
    #message{
        

        font-size: 3em;
        padding-bottom: 150px;
        padding-top: 100px;
        width: 100%;
    }
    .tab{
        
        margin: 50px;
    }
    .tab p{
    float: left;
    padding-right: 50px;
   
}
    
  ul.nav.responsive li {
    float: none;
    display: inline;
     
    
  }
  ul.nav.responsive li a {
    display: block;
    text-align: center;
    
  }
    #log{
        
        width:10%;
        margin-left: -2em;
    }
    
    div.img{
        
        margin-left:-0.5px;
    }
    
}

@media only screen and (max-width:425px) {
    
    #log{
        
        width:20%;
        
    }
     .tab{
        
            
    }
    .tab p{
    float: left;
    padding-right: 20px;
}
    
     #message{
        

        font-size: 2.5em;
        padding-bottom: 100px;
        padding-top: 100px;
        width: 100%;
    }
    
    
}


